<!DOCTYPE html>
<html>
<title>Ajouter Commentaire</title>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/icon.jpg" type="image/gif" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="../assets/css/informatique.css" />
</head>
<header>

    <h1>Nouveau Commentaire Pour l'informatique</h1>

    <div class="navbar">
        <a class="lien" href="Accueil.html"><button>Home</button></a>
        <a class="lien" href="informatique.html"><button>Posts</button></a>

    </div>

</header>

<body>
    <form method="POST">
        <!-- Saisie du Commentaire -->
        <div class="comment">
            <label for="comment-input"> Commentaire :   </label>
            <input id="comment-input" class="comment" name="comment" type="text" value="" placeholder="Saisir Votre Commentaire" />
        </div>
    </form>

</body>

</html>