{{define "creation"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>FORUM</title>
    <link rel="icon" href="https://images.vexels.com/media/users/3/135082/isolated/preview/0a17f36316d5884f38f4520424f6c235-conversation-sign-with-round-background-by-vexels.png" type="image/gif" sizes="16x16" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link href="../assets/css/main.css" rel="stylesheet" />
</head>

<body>
    <form method="POST" class="Register" name="Register_form">
        <!-- Saisie de Prenom -->
        <div class="sign-in">
            <label for="name-input"> First Name : </label>
            <input id="name-input" class="name" name="name" type="text" value="" />
        </div>

        <!-- Saisie de Nom -->
        <div class="sign-in">
            <label for="last_name-input"> Last Name : </label>
            <input id="last_name-input" class="last_name" name="last_name" type="text" value="" />
        </div>

        <!-- Saisie du Mail -->
        <div class="sign-in">
            <label for="Mail-input"> E-mail : </label>
            <input id="Mail-input" class="Mail" name="Mail" type="text" value="" />
        </div>
        <!-- Saisie du l'addresse -->
        <div class="sign-in">
            <label for="Address-input"> Address : </label>
            <input id="Address-input" class="Address" name="Address" type="text" value="" />
        </div>

        <!-- Saisie du Mot de passe -->
        <div class="sign-in">
            <label for="MDP-input"> Password : </label>
            <input id="MDP-input" class="MDP" name="MDP" type="password" value="" />
        </div>



        <div class="input-submit">
            <input class="submit" type="submit" value="start" />
            <!-- <input type="button" value="Submit" onsubmit="return verif()" /> -->
        </div>
    </form>
    <!-- <script src="../assets/js/main.js"></script> -->
</body>

</html>
{{ end }}