<!DOCTYPE html>
<html>
<title>Informatique</title>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/informatique.css" />
</head>
<header>

    <h1>Informatique</h1>

    <div class="navbar">
        <a class="lien" href="Accueil.html"><button>Home</button></a>
        <a class="lien" href="Post_informatique.html"><button>Post</button></a>

    </div>

</header>

<body>
    {{range .Posts}}
    <div class="container">
        <div class="profil">
            <p> {{.User.User_name}}</p>
        </div>
        <div class="profil">
            <p> {{.Title}}</p>
        </div>
        <div class="description_text">
            <p> {{.Description}}</p>
        </div>
        <div class="image">
            <img src="../assets/img/Campus-Ynov-Nanterre.jpg">
        </div>
        <div class="description_text">
            <p>Commentaire</p>
        </div>

    </div>
    <div class="forum">
        <button>Like</button>
        <button>Post a New Comment</button>

    </div>
    {{end}}
</body>

</html>