<!DOCTYPE html>
<html>
<title>{{.Category}}</title>

<head>
    {{$Stat := .Status}}
    <link rel="icon" href="../assets/img/icon.png" type="image/gif" sizes="16x16" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/{{.Category}}.css" />
</head>
<header>

    <h1>{{.Category}}</h1>

    <div class="navbar">
        <a class="lien" href="Accueil.html"><button>Home</button></a> {{if eq .Status "1"}}
        <a class="lien" href="Post_{{.Category}}.html"><button>Post</button></a> {{end}}

    </div>

</header>

<body>
    {{range .Posts}}
    <div class="container">
        <div class="profil name">
            <p> {{.User.User_name}}</p>
        </div>
        <div class="profil">
            <p> {{.Title}}</p>
        </div>
        <div class="description_text">
            <p> {{.Description}}</p>
        </div>
        <div class="image">
            <img src="../assets/img/Campus-Ynov-Nanterre.jpg">
        </div>
        <div class="Comments">
            <h2>Comments : </h2>
            {{range .Comments}}
            <div class="Comment">
                <div class="name_comment">

                    <p>{{.User.User_name}}</p>
                </div>
                <p>{{.Text}}</p>
            </div>
            {{end}}
        </div>
    </div>
    {{if eq $Stat "1"}}
    <form method="POST">
        <div class="forum">
            <button>Like</button>
            <button value="{{.ID_Post}}" name="comment">Post a New Comment</button>
        </div>
    </form>
    {{else}}
    <div class="forum">
        <a class="lien" href="login.html"><button>Login to be able to comment</button></a>
    </div>{{end}} {{end}}
</body>

</html>