<html>

<head>
    <title>FORUM</title>
    <link rel="icon" href="../assets/img/forum icon.png" type="image/gif" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
</head>

<body>


    <div class="login">
        <!-- <a href="Accueil.html" class="icon"><i class="fa fa-home" aria-hidden="true"></i></a>-->
        <h2>Login Page</h2>
        <div class="button_icon">
            <a href="Accueil.html" class="icon"><i class="fa fa-home awesome" aria-hidden="true"></i></a>
        </div>
        <form id="login" method="POST" action="login.html">

            <!-- Saisie du Mail -->
            <div class="sign-in">
                <label for="Mail-input"> E-mail  </label>
                <input id="Mail-input" class="Mail" name="Mail" type="text" value="" placeholder="E-mail" />
            </div>

            <!-- Saisie du Mot de passe -->
            <div class="sign-in">
                <label for="MDP-input"> Password  </label>
                <input id="MDP-input" class="MDP" name="MDP" type="password" value="" placeholder="Password" />
            </div>

            <div>
                <input class="submit" type="submit" value="log in" id="log" />
                <!-- <input type="button" value="Submit" onsubmit="return verif()" /> -->
            </div>
            <input type="checkbox" id="check" />
            <label for="check"><span>Remember me</span></label>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">

            <!--<br><br> <a href="#">Forgot Password</a>-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,700&display=swap" rel="stylesheet">

            <!--<a href="./creation_compte.html" type="button">Creat an Account</a>-->
            <!--<a href="./Accueil.html" type="button">Home Page</a>-->
            <a href="creation_compte.html" class="button">Creat an Account</a>


        </form>
    </div>
</body>

</html>