<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/img/forum icon.png" type="image/gif" sizes="16x16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="" href="logo-forum_color.png">
    <title>Forum Go </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/css/Posts.css">
</head>

<body>
    <nav>
        <h1>LES POSTS</h1>
        <div class="onglets">
            <a href="./Accueil.html">Home</a> {{if eq .Value "1"}}
            <a href="./user_posts.html">Your Posts</a> {{end}}
            <div class="content">
            </div>
        </div>
        </div>
    </nav>

    <header>
        <h1> Forum</h1>
        <h4>Here You Can Speak About :</h4>
    </header>
    <section class="main" id="produits">
        <a style="text-decoration:none" href="./Culture.html">
            <div class="content">
                <div class="card">
                    <div class="left">
                        <div class="Culture">
                            <h1>Culture</h1>
                            <p></p>
                        </div>
                        <div class="right">
                        </div>
                    </div>
                </div>
        </a>
        <a style="text-decoration:none" href="./informatics.html">
            <div class="card">
                <div class="left">
                    <div class="info">
                        <h1>informatics</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
        </a>
        <a style="text-decoration:none" href="./Video Games.html">
            <div class="card">
                <div class="left">
                    <div class="Jeux-Video">
                        <h1>Video Games</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
        </a>
        <a style="text-decoration:none" href="./Geography.html">
            <div class="card">
                <div class="left">
                    <div class="Geographie">
                        <h1>Geography</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </a>

        <a style="text-decoration:none" href="./Music.html">
            <div class="card">
                <div class="left">
                    <div class="Musique">
                        <h1>Music</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
            </div>
        </a>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Entreprise</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>All Parts</h4>
                    <ul>
                        <li><a href="./Accueil.html">Home Page</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Fait par</h4>
                    <ul>
                        <li><a href="#">Mohamed Amine</a></li>
                        <li><a href="#">Nesrine</a></li>
                        <li><a href="#">Patrick</a></li>
                        <li><a href="#">Nadia</a></li>
                        <li><a href="#">Rayan</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>