<!DOCTYPE html>
<html>
<title>{{.}}</title>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/icon.jpg" type="image/gif" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="../assets/css/informatique.css" />
</head>
<header>

    <h1>Nouveau Post Pour {{.}}</h1>

    <div class="navbar">
        <a class="lien" href="Accueil.html"><button>Home</button></a>
        <a class="lien" href="{{.}}.html"><button>Go Back to {{.}} Posts</button></a>

    </div>

</header>

<body>
    <div class="Post_Cat">
        <!-- <h2>Login Page</h2> -->
        <form id="posting" method="POST" action="/{{.}}" enctype="multipart/form-data">

            <!-- Saisie du Titre -->
            <div class="new_post">
                <label for="title-input"> Title  </label>
                <input id="title-input" class="title" name="Title" type="text" value="" placeholder="Title" />
            </div>

            <!-- Saisie du Description -->
            <div class="new_post">
                <label for="description-input"> Description  </label>
                <textarea name="Description" id="description-input" class="description" placeholder="Description"></textarea>
                <!-- <input id="MDP-input" class="MDP" name="MDP" type="password" value="" placeholder="Description" /> -->
            </div>
            <!-- Saisie du Description -->
            <div class="new_post">
                <input accept="image/*,image/heif,image/heic" class="mkhogb32" multiple="" type="file" role="button" name="Image">
            </div>

            <div>
                <input class="submit" type="submit" value="Post" id="log" />
                <!-- <input type="button" value="Submit" onsubmit="return verif()" /> -->
            </div>
        </form>

</body>

</html>