<!DOCTYPE html>
<html>
<title>Informatique</title>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/informatique.css" />
</head>
<header>

    <h1>Nouvelle Poste Pour l'informatique</h1>

    <div class="navbar">
        <a class="lien" href="Accueil.html"><button>Home</button></a>
        <a class="lien" href="informatique.html"><button>Posts</button></a>

    </div>

</header>

<body>
    <div class="Post_Cat">
        <!-- <h2>Login Page</h2> -->
        <form id="posting" method="POST" action="">

            <!-- Saisie du Titre -->
            <div class="sign-in">
                <label for="Mail-input"> Title  </label>
                <input id="Mail-input" class="Mail" name="Title" type="text" value="" placeholder="Title" />
            </div>

            <!-- Saisie du Description -->
            <div class="sign-in">
                <label for="MDP-input"> Description  </label>
                <textarea name="Description" id="MDP-input" class="MDP" placeholder="Description"></textarea>
                <!-- <input id="MDP-input" class="MDP" name="MDP" type="password" value="" placeholder="Description" /> -->
            </div>

            <div>
                <input class="submit" type="submit" value="Post" id="log" />
                <!-- <input type="button" value="Submit" onsubmit="return verif()" /> -->
            </div>
        </form>

</body>

</html>