<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="" href="logo-forum_color.png">
    <title>Forum Go </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/css/Posts.css">
</head>

<body>
    <nav>
        <h1>LES POSTS</h1>
        <div class="onglets">
            <a href="./Accueil.html">Home</a>
            <div class="content">
            </div>
        </div>
        </div>
    </nav>

    <header>
        <h1> Forum</h1>
        <h4>LE MEILLEUR DES DEBATS</h4>
    </header>
    <section class="main" id="produits">
        <a href="./culture.html">
            <div class="content">
                <div class="card">
                    <div class="left">
                        <div class="Culture">
                            <h1>Culture</h1>
                            <p></p>
                        </div>
                        <div class="right">
                        </div>
                    </div>
                </div>
        </a>
        <a href="./informatique.html">
            <div class="card">
                <div class="left">
                    <div class="info">
                        <h1>Informatique</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
        </a>
        <a href="./jeux_videos.html">
            <div class="card">
                <div class="left">
                    <div class="Jeux-Video">
                        <h1>Jeux-Vidéo</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
        </a>
        <a href="./geography.html">
            <div class="card">
                <div class="left">
                    <div class="Geographie">
                        <h1>Geographie</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </a>

        <a href="./music.html">
            <div class="card">
                <div class="left">
                    <div class="Musique">
                        <h1>Musique</h1>
                        <p></p>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
            </div>
        </a>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Entreprise</h4>
                    <ul>
                        <li><a href="#">à propos de nous</a></li>
                        <li><a href="#">Nos services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Toute les Parties</h4>
                    <ul>
                        <li><a href="./Accueil.html">Page d'accueil</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Fait par</h4>
                    <ul>
                        <li><a href="#">Mohamed Amine</a></li>
                        <li><a href="#">Nesrine</a></li>
                        <li><a href="#">Patrick</a></li>
                        <li><a href="#">Nadia</a></li>
                        <li><a href="#">Rayan</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>