@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

button:hover {
    text-decoration: underline;
}

.Comments h2 {
    color: #0a0a0a;
    font-family: 'Anton', sans-serif;
}

.name_comment p {
    font-size: 25px !;
    font-style: oblique;
    color: rgb(42, 42, 77);
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.name_comment:hover {
    text-decoration: underline;
}

.Comment {
    word-wrap: break-word;
}

.container {
    display: block;
    height: 90%;
    background-color: rgb(231, 230, 230);
    width: 50%;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
}

.container .profil {
    /* height: 50px;*/
    background-color: rgb(231, 230, 230);
    width: 100%;
    float: right;
    word-wrap: break-word;
    font-family: 'Anton', sans-serif;
}

.description_text {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    word-wrap: break-word;
    font-family: 'Anton', sans-serif;
    font-family: bold;
}

.image img {
    width: 100%;
    height: 100%;
}

p {
    font-family: "Montserrat", "sans sherif";
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.forum {
    text-align: center;
    margin-top: 10px;
    font-family: 'Anton', sans-serif;
}

.name p {
    font-size: 30px !important;
    font-style: oblique;
    color: #12132c;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.name:hover {
    text-decoration: underline;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
header {
    background: rgba(144, 177, 190, 0.411);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

h1 {
    color: black;
    font-size: 38px;
    font-family: 'Playfair Display', serif;
}

.deletion {
    display: flex;
}

button {
    background-color: transparent;
    font-size: 20px;
    font-family: "Montserrat", "sans sherif";
    color: black;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

body {
    background: rgb(243, 248, 253);
    background-size: cover;
}

#posting {
    height: 250px;
    width: 400px;
    margin-top: 12%;
    margin-left: 35%;
    font-size: 26px;
    font-family: 'Anton', sans-serif;
    color: rgb(8, 8, 8);
    /* background-color: black; */
    background: rgba(144, 177, 190, 0.295);
    border-radius: 9px;
}

#log {
    color: black;
    background-color: rgba(171, 194, 204, 0.966);
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 13%;
    font-size: 10px;
    width: 100px;
}

#delete {
    color: rgb(0, 0, 0);
    position: relative;
    left: 310%;
    bottom: 50%;
    border: 1px solid black;
    background-color: rgba(218, 231, 236, 0.966);
}

.Categorie h3 {
    font-size: 30px;
    color: rgb(28, 53, 100);
}